.card-item{
    position: relative;
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    
}

.card-item:hover{
    height: 420px;
}

.url{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.img{
    position: relative;
    width: 260px;
    height: 160px;
    border-radius: 10px;
    z-index: 2;
    margin-bottom: 15px;

}

.card-item h2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 10px;
}

.news-info{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    overflow: scroll;
}

.card-item:hover .news-info{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.author {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    color: #333;
    margin-bottom: 5px;
    margin-top: 25px;
}

.news-info::-webkit-scrollbar{
    width: 7px;
}

.news-info::-webkit-scrollbar-thumb{
    background-color: #888;
}

.news-info::-webkit-scrollbar-thumb:hover{
    background-color: #555;
}

.news-info .buton
{
    display: flex;
    justify-content: space-around;
    
}