.govde{
    background: linear-gradient(135deg , #71b7e6, #9b59b6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width: 800px){
    .haberler{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 600px){
    .haberler{
        grid-template-columns: 1fr;
    }
}