.container {
  max-width: 650px; /* Removed !important for better control */
  width: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 28px;
  margin: 50px auto; /* Centered the container horizontally and provided top margin */
  border-radius: 10px;
  box-shadow: inset -2px 2px 2px white;
}

.form-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: white;
  text-shadow: 2px 2px 2px black;
  border-bottom: solid 1px white;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.input-box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}
.input-box label {
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}
.input-box input {
  width: 95%;
  height: 35px;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}
